:root {
    --main-color: #fefefe;
    /* --main-color: #d2dde4; */

    --secondary-color: white;
    --main-text-color: #000000;
    --secondary-text-color: rgb(238, 228, 228);
    --main-font-size: 20px;

    --header-background-color:#1d1e1ff5;
}
button:focus{
    outline: none;
}
#root {
    min-height:100%;
}

a {
    text-decoration: none;
    color: var(--main-text-color)
}
li {
    list-style-type: none;
}
ul {
    padding:0;
    margin:0;
}
h3 {
    font-size:1.5em;
    /* color:black; */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: 200;
    box-sizing: border-box;
    background-color: var(--main-color);
  }

p {
    margin:0;
}


  /* 
                            Grid Container App 
  */
  .app {
    height:100vh;
    display: grid;
    justify-items:stretch;
    align-items: stretch;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 90px 1fr 60px;
    grid-template-areas: 
        "header header header header header header"
        "main main main main main main"
        "footer footer footer footer footer footer";
}

/* 
                            Header
*/
.header {
    grid-area: header;
    background-color: var(--header-background-color);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "logo menu menu menu . logOut"
        "logo menu menu menu . logOut"
        "logo menu menu menu . logOut";
}
@media screen and (max-width: 1200px) {
    .header {
        grid-template-areas: 
        "menu . logo logo logOut logOut"
        "menu . logo logo logOut logOut"
        "menu . logo logo logOut logOut";
    }
}
@media screen and (max-width: 550px) {
    .header {
        grid-template-areas: 
        "menu menu menu logOut logOut logOut"
        "menu menu menu logOut logOut logOut"
        "menu menu menu logOut logOut logOut";
    }
}

/* 
                            Header/Logo
*/
.logo {
    grid-area: logo;
}
.logo > h1 {
    text-align: center;
    border-bottom: 2px solid white;
    width:50%;
    margin-left:25%;

}
.logo > h1 > a {
    color: var(--secondary-text-color);
}
@media screen and (max-width: 550px) {
    .logo > h1 {
        display: none;
    }
}
/* 
                            Header/Menu
*/
 .menu {
    grid-area: menu;
}
.menuButton {
    display:none;
    height:50%; 
    position: relative; 
    top:25%;    
    margin:auto;
    background-color: transparent;
}
.menuList {
    height:100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.menuList > li {
    margin-left:15px;
    text-decoration: underline;
    font-size: var(--main-font-size);
    /* user-drag: none;  */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.menuList > li > a {
    color: var(--secondary-text-color);
}
.menuList > .logoLi {
    display:none;
}
@media screen and (max-width: 1200px) {
    .menu > .menuButton {
        display:block;
        z-index:3;
        position:relative;
        border:none;
        cursor: pointer;
        padding:0;
        

    }
    .menu > .buttonClicked {
        background-color:rgba(18, 18, 19, 0.96);
    }
    .menu > .unClicked {
        background-color: var(--header-background-color);

    }
    .menu > .menuButton > img{
        height:100%;
    }
    .menu > .menuListNotActive {
        display:none;
    }
    .menu > .menuListActive {
        display:flex;
        flex-direction: column;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:1;
        /* background-color:rgba(18, 18, 19, 0.96); */
        background-color:rgba(18, 18, 19, 0.96);


        justify-content: flex-start;
        /* align-items: baseline; */
        padding-top:90px;
        box-sizing: border-box;
    }
    .menuListActive > .logoLi {
        /* border:none; */
        /* margin-bottom:5%; */
        height:13%;
    }
    .menuListNotActive  > .logoLi{
        display:none        
    }
    .menu > .menuListActive > .logoLi > .logoActive {
        text-align: center;
        /* border-bottom: 2px solid white; */
        width:100%;
        position:relative;
        /* left:40%; */
        color: var(--secondary-text-color);
        background-color:rgba(18, 18, 19, 0.96);
        display:block;
    }
    
   
    .menuListActive > li {
        background-color:rgba(18, 18, 19, 0.96);
        margin:0;
        width:100%;
        height:12%;
        border-bottom: 1px solid #e0e0e0;
        

        /* width:100%;
        position:relative;
        top:10%;
        border-bottom: 1px solid #e0e0e0;
        height:8%; */
    }
    .menuListActive > li > a {
        text-align:center;
        display:block;
        height:100%;
        padding-top:4.5%;
        z-index:2;
        box-sizing: border-box;
    }
    .menuListActive > li > a:hover {
        background-color:rgb(13, 13, 14);
    }
        
}

/* 
                            Header/logout
*/
.logOut {
    grid-area: logOut;
    height:50%;
    margin:auto;
    width:50%;
    box-sizing:border-box;
    
}
.logOut > button {
    font-weight: bold;
    font-size:18px;
    /* font-size:30px; */
    border-radius:10px;
    padding: 5px;
    border: solid 0.1em rgb(204, 211, 197);
    font-weight: bold;
    box-shadow: 0 0 15px -3px whitesmoke;
    outline: inherit;
    height:48px;
    cursor: pointer;
    width:100%;
    background-color:#fefefe;
    color:rgb(5, 5, 5);
    box-sizing:border-box;
}
@media screen and (max-width: 550px) {
    .logOut {
        width:100%;
        position:relative;
        height:100%;
        /* top:25%; */
    }
    .logOut > button {
        height:60%;
        position:relative;
        top:20%;
        width:80%;
        margin:auto;
        display: block;
        /* border-radius: 0; */
        /* border:none; */
        /* border-right: solid 0.1em rgb(83, 85, 82); */
        /* border-left: solid 0.1em #1d1e1ff5; */
        /* border-bottom: solid 0.1em #1d1e1ff5; */


        outline:none;
        box-shadow:none;

    }
}
@media screen and (max-width: 300px) {
    .logOut > button {
        position:unset;
        height:100%;
        width:100%;
        border-radius: 0;
        border:none;
        border-right: solid 0.1em rgb(83, 85, 82);
        border-left: solid 0.1em #1d1e1ff5;
        border-bottom: solid 0.1em #1d1e1ff5;
    }
}

/* _____________________________________________________________________________ */

/*
                            MainContent
*/
.mainContentStyle {
    grid-area: main;
    background-color: var(--main-color);
    height:100%;
}
.mainContentStyle > .drawing {
    display:block;
    width:394px;
    margin:auto;
    background-color: aquamarine;
}

/* 
                            Create Account
*/
.createAccount {
    display:flex;
    flex-direction: column;
    align-items: center;
    height:50%;
    margin-top:3%;
}
.createAccount > ul {
    width:30%;
    /* min-width:150px; */
}
.createAccount > ul > li > input {
    border-radius:8px;
    padding: 5px;
    border: solid 0.1em rgb(113, 138, 85);
    font-weight: bold;
    box-shadow: 0 0 15px -3px whitesmoke;
    outline: inherit;
    height:48px;
    margin-bottom:8px;
    width:100%;
    box-sizing: border-box;
    font-size: 15px;
    
}
.createAccount > ul > li > .createDescription {
    font-size: 15px;
    border-radius:10px;
    padding: 5px;
    border: solid 0.1em rgb(113, 138, 85);
    font-weight: bold;
    box-shadow: 0 0 15px -3px whitesmoke;
    outline: inherit;
    margin-bottom:8px;
    width:100%;
    height:123px;
    box-sizing: border-box;
}
.createAccount > ul > li > button {
    border-radius:10px;
    padding: 5px;
    border: solid 0.1em rgb(204, 211, 197);
    font-weight: bold;
    box-shadow: 0 0 15px -3px whitesmoke;
    outline: inherit;
    height:48px;
    cursor: pointer;
    width:100%;
    background-color:black;
    color:rgb(236, 231, 231);
    margin-top:5px;
    font-size: 15px;
}
.createAccount > ul > li > .delete {
    background-color:rgb(160, 17, 17);
}
.createAccount > ul > li > label {
    display:block;
    font-weight: bold;
}
.createAccount > .title {
    font-weight: 800;
    font-size:1.5em;
    box-sizing:border-box;
    text-align: center;
}


@media screen and (max-width: 1000px) {
    .createAccount > ul {
        width:45%
    }
    
}
@media screen and (max-width: 700px) {
    .createAccount > ul {
        width:65%
    }
}
@media screen and (max-width: 500px) {
    .createAccount > ul {
        width:90%
    }
}


/* 

/* 
                            MyAccount
*/
.myAccount > ul > li > .delete {
    background-color:rgb(160, 17, 17);
}
.myAccount > ul > li > label {
    display:block;
    font-weight: bold;
}

@media screen and (max-width: 1400px) {
    
    
    
}


/* 
                            Chat
*/
.chat {
    display:grid;
    height:calc(100vh - 90px - 60px);
    position:relative;
    box-sizing: border-box;
    margin:auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas: 
        "listH listH messH messH messH messH"
        "list list mess mess mess mess"
        "list list newMess newMess newMess newMess";
}
.chatBackBtn {
    display:none;
}
@media screen and (max-width: 850px) {
    .inChatRoom {
        grid-template-areas: 
        "btn messH messH messH messH messH"
        "mess mess mess mess mess mess"
        "newMess newMess newMess newMess newMess newMess";
    }
    .inChatRoom > .userList {
        display:none;
    }
    .inChatRoom > .listHeader {
        display:none;
    }
    .inChatRoom > .chatBackBtn {
        grid-area:btn;
        background-color: #ededed;
        border:none;
        border-right: 1px solid #cfcece;
        box-sizing: border-box;
        height:100%;
        display:block;
    
    }
    .inChatRoom > .chatBackBtn > img{
        width:45%;
    
    }
    .notInChatRoom > .chatBackBtn{
        display:none;
    }

    
    
    
}
.userList {
    grid-area:list;
    background-color: #fefefe;
    display:flex;
    flex-direction: column;
    border-right: 1px solid #e0e0e0;

    box-sizing: border-box;
    overflow:auto;
    
}
    .userList > .userListItem {
        min-height:100px;
        height:contain;
        box-sizing: border-box;
        border-bottom:1px solid #e0e0e0;
        cursor: pointer;
        padding:1em;
        display:grid;
        grid-template-columns: 1fr 2fr 8fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "name name name time"
        "name name name time"
        "name name name .";
    }
    @media screen and (max-width: 850px) {
    
        .userList > .userListItem {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
            "name name time"
            "name name name"
            "name name name";
        }
    
    }
        .userList > .userListItem > .fullName {
            grid-area:name;
            font-weight: 700;
            font-size:1.2em;
        }
        .userList > .userListItem > .lastMessage {
            grid-area:lastMsg;
        }
        .userList > .userListItem > .timeStamp {
            grid-area:time;
        }



.messages {
    grid-area:mess;
    background-color: #fefefe;
    display:flex;
    flex-direction: column;
    overflow-y:auto;
    overflow-wrap:break-word;
    padding-left:2%;
    padding-right:2%;
    
}
    .messages > div {
        width:contain;
        max-width:80%;
    }
    .messages > .user {
        align-self:flex-end;
        background-color: darkblue;
        color:white;
    }
    .messages > .otherUser {
        align-self:flex-start;
        background-color: grey;
    }
.newMessage {
    grid-area:newMess;
    background-color:#ededed;
}
    .newMessage > form {
        display:flex;
        padding:1rem;
        box-sizing: border-box;
    }
        .newMessage > form > input {
            box-sizing: border-box;
            border: none;
            padding: 0.75rem;
            border-radius: 0.5rem;
            width: 100%;
            flex-grow: 1;
        }
        .newMessage > form > button {
            border: 1px solid #c5c5c5;
            background: none;
            margin-left: 1rem;
            padding: 0rem 1rem;
            border-radius: 0.3rem;
        }
    

.listHeader {
    grid-area: listH;
    background-color: #ededed;
    border-right: 1px solid #e0e0e0;
    box-sizing: border-box;
    font-weight: 700;
    text-align: center;
}
    .listHeader > p {
        position:relative;
        top:50%;
    }

.messageHeader {
    grid-area:messH;
    background-color: #ededed;
    box-sizing: border-box;
    font-weight: 700;
}
    .messageHeader > p {
        position: relative;
        top:50%;
        margin-left:5%;
    }
/* 
                            FindUsers
*/
.findUsers {
    background-color: #fefefe;
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap:wrap;
    padding:1em;
    width:100%;
    margin:auto;
    justify-content: space-around;
}

    .findUsers > .findUserItem {
        margin-top:1em;
        padding:1em;
        box-sizing: border-box;
        width:450px;
        border:2px solid black;
        border-radius:10px;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 1fr 1fr 54px;
        grid-template-areas: 
        "n n n n"
        "d d d d "
        "d d d d "
        "btn btn btn btn";
        overflow: hidden;
    }
    
        .findUsers > .findUserItem > .fullName {
            grid-area:n;
            font-weight: 700;
            font-size:1.2em;
            text-align:center;
        }
        .findUsers > .findUserItem > .description {
            grid-area:d;
            font-weight: 500;
            font-size:1.2em;
            /* border:1px solid black; */
            border: solid 0.1em rgb(204, 211, 197);
            border-radius:10px;
            padding:10px;
            box-sizing:border-box;
        }
        .findUsers > .findUserItem > .chatBtn {
            grid-area:btn;
            border-radius:10px;
            padding: 5px;
            border: solid 0.1em rgb(204, 211, 197);
            font-weight: bold;
            box-shadow: 0 0 15px -3px whitesmoke;
            outline: inherit;
            height:100%;
            cursor: pointer;
            width:100%;
            margin:auto;
            background-color:rgb(67, 82, 223);
            color:rgb(236, 231, 231);
            margin-top:5px;
        }
        @media screen and (max-width: 1500px) {
            .findUsers > .findUserItem {
                width: 40%;
            }
        }
        @media screen and (max-width: 1050px) {
            .findUsers > .findUserItem {
                width: 70%;
            }
        }
        @media screen and (max-width: 650px) {
            .findUsers > .findUserItem {
                width: 100%;
            }
        }
        @media screen and (max-width: 500px) {
            .findUsers > .findUserItem > .chatBtn {
                width:100%;
            }
          }
        
/* _____________________________________________________________________________ */

/* 
                            Footer
*/
.footer {
    grid-area: footer;
    background-color: var(--header-background-color);
}
/* _____________________________________________________________________________ */

