:root {
    --main-color: #d2dde4;
    --secondary-color: white;
    --main-text-color: #000000;
    --secondary-text-color: rgb(238, 228, 228);
    --main-font-size: 20px;

    --header-background-color:#1d1e1ff5;
}
#root {
    min-height:100%;
}

a {
    text-decoration: none;
    color: var(--main-text-color)
}
li {
    list-style-type: none;
}
ul {
    padding:0;
    margin:0;
}
h3 {
    font-size:1.5em;
    /* color:black; */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: 200;
    box-sizing: border-box;
    background-color: var(--main-color);
  }

p {
    margin:0;
}


  /* 
                            Grid Container App 
  */
  .app {
    height:100vh;
    display: grid;
    justify-items:stretch;
    align-items: stretch;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 10fr 60px;
    grid-template-areas: 
        "header header header header header header"
        "main main main main main main"
        "footer footer footer footer footer footer";
}

/* 
                            Header
*/
.header {
    grid-area: header;
    background-color: var(--header-background-color);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "logo menu menu menu . ."
        "logo menu menu menu . logOut"
        "logo menu menu menu . logOut";
}
/* 
                            Header/Logo
*/
.logo {
    grid-area: logo;
}
.logo > h1 {
    text-align: center;
    border-bottom: 2px solid white;
    width:50%;
    margin-left:25%;

}
.logo > h1 > a {
    color: var(--secondary-text-color);
}
/* 
                            Header/Menu
*/
 .menu {
    grid-area: menu;
    
}
.menuList {
    height:100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.menuList > li {
    margin-left:15px;
    text-decoration: underline;
    font-size: var(--main-font-size);
}
.menuList > li > a {
    color: var(--secondary-text-color);
}

/* 
                            Header/logout
*/
.logOut {
    grid-area: logOut;
}
.logOut > button {
    width: 50%;
    height:100%;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}
/* _____________________________________________________________________________ */

/*
                            MainContent
*/
.mainContentStyle {
    grid-area: main;
    background-color: var(--main-color);
    height:100%;
}
.mainContentStyle > .drawing {
    display:block;
    width:394px;
    margin:auto;
    background-color: aquamarine;
}

/* 
                            Create Account
*/
.createAccount {
    display:flex;
    flex-direction: column;
    align-items: center;
    height:50%;
    margin-top:3%;
}
.createAccount > ul {
    width:30%;
    min-width:150px;
}
.createAccount > ul > li > input {
    border-radius:10px;
    padding: 5px;
    border: solid 0.1em rgb(113, 138, 85);
    font-weight: bold;
    box-shadow: 0 0 15px -3px whitesmoke;
    outline: inherit;
    height:42px;
    margin-bottom:8px;
    width:100%;
    box-sizing: border-box;
}
.createAccount > ul > li > button {
    border-radius:10px;
    padding: 5px;
    border: solid 0.1em rgb(204, 211, 197);
    font-weight: bold;
    box-shadow: 0 0 15px -3px whitesmoke;
    outline: inherit;
    height:44px;
    cursor: pointer;
    width:100%;
    background-color:black;
    color:rgb(236, 231, 231);
    margin-top:5px;
}
.createAccount > ul > li > label {
    display:block;
    font-weight: bold;
}
/* 

/* 
                            MyAccount
*/
.myAccount {
    width:50%;
    margin:auto;
    text-align: center;
}


/* 
                            Chat
*/
.chat {
    display:grid;
    height:100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas: 
        ". listH listH messH messH messH messH ."
        ". list list mess mess mess mess ."
        ". list list newMess newMess newMess newMess .";
}
.userList {
    grid-area:list;
    background-color: #fefefe;
    display:flex;
    flex-direction: column;
    border-right: 1px solid #e0e0e0;
    box-sizing: border-box;
}
    .userList > .userListItem {
        box-sizing: border-box;
        border-bottom:4px solid black;
        cursor: pointer;
        display:grid;
        grid-template-columns: 1fr 2fr 8fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        ". name name time"
        ". lastMsg lastMsg time"
        ". lastMsg lastMsg .";
        height:60px;
        overflow: hidden;
    }
        .userList > .userListItem > .fullName {
            grid-area:name;
            font-weight: 700;
            font-size:1.2em;
        }
        .userList > .userListItem > .lastMessage {
            grid-area:lastMsg;
        }
        .userList > .userListItem > .timeStamp {
            grid-area:time;
        }


.messages {
    grid-area:mess;
    background-color: #d0d0d0;
    display:flex;
    flex-direction: column;
}
    .messages > .user {
        align-self:flex-end;
        background-color: darkblue;
        color:white;
    }
    .messages > .otherUser {
        align-self:flex-start;
        background-color: grey;
    }
.newMessage {
    grid-area:newMess;
    background-color:#ededed;
    display:flex;
    padding:1rem;
    box-sizing: border-box;
}
    .newMessage > input {
        box-sizing: border-box;
        border: none;
        padding: 0.75rem;
        border-radius: 0.5rem;
        width: 100%;
        flex-grow: 1;
    }
    .newMessage > button {
        border: 1px solid #c5c5c5;
        background: none;
        margin-left: 1rem;
        padding: 0rem 1rem;
        border-radius: 0.3rem;
    }
    

.listHeader {
    grid-area: listH;
    background-color: #ededed;
    border-right: 1px solid #e0e0e0;
    box-sizing: border-box;
    font-weight: 700;
    text-align: center;
}
    .listHeader > p {
        position:relative;
        top:50%;
    }

.messageHeader {
    grid-area:messH;
    background-color: #ededed;
    box-sizing: border-box;
    font-weight: 700;
}
    .messageHeader > p {
        position: relative;
        top:50%;
        margin-left:5%;
    }

/* _____________________________________________________________________________ */

/* 
                            Footer
*/
.footer {
    grid-area: footer;
    background-color: var(--header-background-color);
}
/* _____________________________________________________________________________ */

